<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    </head>

    <body class="p-5">
    <div class="container p-5 my-n2">
        <div class="alert alert-info" role="alert"></div>   <!-- zona de alerta-->
        <div class="row p-4 mx-auto bg-danger" style="place-content:center;width: fit-content;">
            <div class="form-row p-3 m-3">
                <form id="form-register" action="/datosregistro" method="POST" class="col s6"> <!-- datosregistro { nickname,name,lastname,email, password} -->
                    <div class="form-group text-light p-3">
                        <div class="div mb-3"> <h4>Registrese para participar en el chat</h4></div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12"> <input required type="text" name="nickname" class="form-control validate" id="inputnick" placeholder="Nick Name"></div>
                    </div><br>
                    <div class="row py-1">
                        <div class="input-field col s12"> <input required type="text" name="name" class="form-control validate" id="inputname" placeholder="Nombre"></div>
                    </div>
                    <div class="row py-1">
                        <div class="input-field col s12"> <input required type="text" name="lastname" class="form-control validate" id="inputlastname" placeholder="Apellido"></div>
                    </div>
                    <div class="row py-1">
                        <div class="input-field col s12"><input required type="email" name="email" class="form-control validate" id="inputemail" placeholder="Email"></div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <br>
                            <input required type="password" name="password" class="form-control validated" id="inputPassworda" placeholder="Contraseña">                        
                            <input required type="password" name="passwordb" class="form-control validated my-1" id="inputPasswordb" placeholder="Confirme la Contraseña">
                        </div>
                    </div>
                    <div class="row" style="text-align:-webkit-center">
                        <div class="input-field col s12 mt-4"> <button type="submit" class="btn btn-info">Completar el Registro</button></div>
                    </div>
                </form>
            </div>
        </div>
        <script type="text/javascript" src="/client/functions/functions.js"></script>
    </div>
        <script>
              $(document).ready(function () {
            
                $('#inputnick').on("change", function (){
                    
                    
                });
               
              });

        </script>      
    </body>
</html>