<!DOCTYPE html>
<html lang="es">

<head>
   
</head>

<body style="position: relative;">
    
<script>


// lo que he visto es que el jquery simplemente no responde pese a tener el cdn y no anuncia ningun error para encontrar la falla















</script>  


</body>

</html lang>